
{# src/AppBundle/Resources/views/client/ajout.html.twig #}

{% extends "base.html.twig" %}

{% block main %}

  <h2>Ajoute d'une activité</h2>

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}