{# src/AppBundle/Resources/views/tache/index.html.twig #}

{% extends "base.html.twig" %}

{% block main %}
<table class="table table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-cogs"></i> Jour</th>
                <th><i class="fa fa-cogs"></i> Durée</th>
                <th><i class="fa fa-cogs"></i> Description</th>
                <th><i class="fa fa-cogs"></i> Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in listeTaches %}
            <tr>
                <td>{{ tache.jour }}</td>
                <td>{{ tache.duree }}</td>
                <td>{{ tache.description }}</td>
                <td>
                    <div class="item-actions">
                            <a href="{{ path('modifier_tache', { id: tache.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i> Modifier
                            </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Aucune Tache n'est trouvée</td>
           </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}