
{# src/AppBundle/Resources/views/user/ajout.html.twig #}

{% extends "base.html.twig" %}

{% block main %}

  <h2>Ajout d'un utilisateur</h2>

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}