{# src/AppBundle/Resources/views/user/edit.html.twig #}


{% extends "base.html.twig" %}


{% block main %}
    <h1>Modification d'un utilisateur</h1>

    {{ include('default/_form.html.twig', {
        form: edit_form,
        button_label: 'Enregistrer',
        include_back_to_home_link: false,
        button_css: 'btn btn-lg btn-block btn-primary'
    }, with_context = false) }}

    <div class="section actions">
        {{ include('default/_form.html.twig', {
            form: delete_form,
            button_label: 'Supprimer',
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>

{% endblock %}
